[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
pytest-django = "*"
djangorestframework = "*"
pytest-socket = "*"
django-filter = "*"
factory-boy = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
